## Settings file was created by plugin NOVR McpBridge v0.1.0
## Plugin GUID: deltawing.novr.mcpbridge

[General]

## HTTP server port for MCP bridge
# Setting type: Int32
# Default value: 3334
Port = 3334

